.rolling-text-container {
  overflow: hidden;
  white-space: nowrap;
}

.rolling-text {
  display: inline-block;
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
